html, body, #root {
  height: 100%;
  margin: 0;
  background-color: black !important;
  color: rgb(3, 172, 172) !important;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
